* {
    margin: 0;
    padding: 0;
    list-style: none;
}


html {
    overflow-x: hidden;
}

body {
    background-color: #F7F7F7;
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
}

.banner {
    position: relative;
    /* width: 3000px; */

}

.banner .slider-wrap {
    width: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
    /* display: flex; */
    /* height: 90vh; */
    /* width: 3000px; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
}

.banner .slider-wrap .slider-container {
    display: flex;
    position: relative;
    /* position: relative; */
    width: 400%;
    /* height: 900px; */
}

.banner .slider-wrap .slider-container .slidepic {
    width: 100%;
    /* left: 0%; */
}

.banner .slider-wrap img {
    width: 100%;
    vertical-align: bottom;
    /* position: absolute; */
}

.banner .slogan {
    position: absolute;
    top: 20%;
    left: 10%;
}

.banner .slogan img {
    width: 100%
}

.banner .slogan h1 {
    color: #fff;
    margin-top: 50px;
    letter-spacing: 5px;
}

.page2top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 5;
}


.page2top .up {
    position: relative;
    animation: up 1s linear infinite alternate;

}

@keyframes up {
    0% {
        top: 0;
    }

    100% {
        top: 10px;
    }
}

.page2top a {
    color: #666;
}

.page2top a i {
    font-size: 24px;
}

.slideIn{
    transform: translateY(200px);
    opacity: 0;
    transition: 1s;
    /* border: 1px solid red; */
}

.active{
    transform: translateY(50px);
    opacity: 1;
    transition: 1s;

}

.item_wrap {
    width: 100%;
    /* position: relative; */
    /* opacity: 0; */
    /* top: 1000px; */
    /* transition: 1s; */
}

.item_wrap .txt {
    text-align: center;
    margin: 50px 0;
}

.item_wrap .txt h2 {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 30px;
    position: relative;
    /* border: 1px solid red; */
}

.item_wrap .txt span {
    display: block;
}

.item_wrap .txt h2::before {
    content: '';
    /* border: 1px solid red; */
    position: absolute;
    width: 200px;
    height: 35px;
    /* top: 50%; */
    /* translate: 0% -50%; */
    left: -100%;
    background-image: url("img/ill_parts.png");
    background-repeat: no-repeat;
    transform: scale(0.6);
    animation: up .5s linear infinite alternate;
}

.item_wrap .txt h2::after {
    content: '';
    /* border: 1px solid red; */
    position: absolute;
    width: 200px;
    height: 35px;
    /* top: 0; */
    /* translate: 0% -50%; */
    right: -100%;
    background-image: url("img/ill_parts.png");
    background-repeat: no-repeat;
    transform: scale(0.6);
    animation: up .5s linear infinite alternate;
}

.item_wrap .txt span {
    color: #777;
    margin-bottom: 50px;
}

.item_wrap .item_container {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 3;
}

.item_wrap .item_container .item_group {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.item_wrap .item_container .item_group .item {
    width: 25%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.item_wrap .item_container .item_group .item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 20px 0;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #f7f7f7;
    /* border: 1px solid red; */
}

.item_wrap .item_container .item_group .item a:hover {
    background-color: #e8eef1;
}

.item_wrap .item_container .item_group .item a img {
    width: 25%;
}

.item_wrap .item_container .item_group .item a p {
    margin-top: 25px;
}

.item_wrap .pic {
    position: absolute;
    /* z-index: -1; */
    top: 200px;
    /* bottom: -30%; */
    left: 0;
    width: 100%;
    opacity: .3;
}

.item_wrap .pic img {
    width: 100%;
    height: 500px;
}

.news_wrap {
    width: 100%;
    margin-top: 250px;
    /* border: 1px solid red; */
    /* width: 100%; */
    /* position: relative; */
    /* opacity: 0; */
    /* top: 500px; */
    /* transition: 1s; */
}

.news_wrap .txt {
    text-align: center;
}

.news_wrap .txt h2 {
    margin-bottom: 50px;
    font-size: 30px;
    position: relative;
    display: inline-block;
}

.news_wrap .txt h2::before {
    content: '';
    /* border: 1px solid red; */
    position: absolute;
    width: 60px;
    height: 100px;
    top: -50%;
    left: -80%;
    background-image: url("img/ill_tree01.png");
    background-repeat: no-repeat;
    animation: spin 1s linear infinite alternate;
}

.news_wrap .txt h2::after {
    content: '';
    /* border: 1px solid red; */
    position: absolute;
    width: 60px;
    height: 100px;
    top: -50%;
    right: -80%;
    background-image: url("img/ill_tree01.png");
    background-repeat: no-repeat;
    animation: spin 1s linear infinite alternate;
}

@keyframes spin {
    0% {
        transform: scale(.4) rotate(30deg);
    }

    100% {
        transform: scale(.4) rotate(-30deg);
    }
}

.news_wrap .news_group {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.news_wrap .news_group .news {
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 50%;
    padding: 50px;
}

.news_wrap .news_group .news a {
    text-decoration: none;
    color: #000;
}

.news_wrap .news_group .news a:hover {
    color: #777;
}

.news_wrap .news_group .news a .pic {
    /* border: 1px solid red; */
}

.news_wrap .news_group .news a img {
    width: 100%;
    vertical-align: bottom;
}

.news_wrap .news_group .news a .txt {
    margin-top: 20px;
    font-size: 20px;
    /* border: 1px solid red; */
}

.news_wrap .news_group .news a .txt span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}

.news_wrap button {
    display: none;
}

.place_wrap {
    /* border: 1px solid red; */
    margin-top: 50px;
    width: 100%;
    position: relative;
}

.place_wrap .txt {
    /* border: 1px solid red; */
    text-align: center;
}

.place_wrap .txt h2 {
    /* border: 1px solid red; */
    margin-bottom: 100px;
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.place_wrap .txt h2::before {
    content: '';
    /* border: 1px solid red; */
    position: absolute;
    width: 200px;
    height: 35px;
    /* top: 50%; */
    /* translate: 0% -50%; */
    /* left:-100%; */
    right: 100%;
    background-image: url("img/ill_parts.png");
    background-repeat: no-repeat;
    transform: scale(0.6);
    animation: up .5s linear infinite alternate;
}

.place_wrap .txt h2::after {
    content: '';
    /* border: 1px solid red; */
    position: absolute;
    width: 200px;
    height: 35px;
    /* top: 50%; */
    /* translate: 0% -50%; */
    /* left:-100%; */
    left: 100%;
    background-image: url("img/ill_parts.png");
    background-repeat: no-repeat;
    transform: scale(0.6);
    animation: up .5s linear infinite alternate;
}

.place_wrap .place_container {
    /* width: 80%; */
    margin: auto;
    /* border: 1px solid red; */
}

.place_wrap .place_container .place_group {
    display: flex;
}

.place_wrap .place_container .place_group .place {
    width: 100px;
    overflow: hidden;
    flex-grow: 1;
    transition: 1s;
    /* border: 1px solid red; */
    position: relative;
}

.place_wrap .place_container .place_group .place:hover {
    flex-grow: 1.4;
}

.place_wrap .place_container .place_group .place a {
    text-decoration: none;
    /* position: relative; */
}

.place_wrap .place_container .place_group .place a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    transition: .5s;
}

.place_wrap .place_container .place_group .place a:hover::after {
    opacity: 0;
}

.place_wrap .place_container .place_group .place a .pic {
    /* width: 100%; */
    /* border: 1px solid red; */
}

.place_wrap .place_container .place_group .place a .pic img {
    /* width: 100%; */
    vertical-align: bottom;
}

.place_wrap .place_container .place_group .place a .txt {
    /* position: relative; */
}

.place_wrap .place_container .place_group .place a .txt {
    position: absolute;
    top: 0;
    left: 0;
    top: 15%;
    left: 20px;
    color: #fff;
    font-size: 24px;
    /* opacity: 0; */
    /* border: 1px solid red; */
    transition: .5s;
}

.place_wrap .place_container .place_group .place:hover .txt {
    /* opacity: 1; */
    font-size: 32px;
}

.place_wrap>.pic {
    width: 100%;
    position: absolute;
    /* bottom: -30%; */
    /* top: 0; */
    bottom: -120px;
    z-index: -1;
    left: 0;
    opacity: .3;
}

.place_wrap>.pic img {
    width: 100%;
    height: 400px;
}

@media screen and (max-width:1200px) {
    .banner .slogan {
        /* border: 1px solid red; */
        position: absolute;
        top: 20%;
        left: 10%;
        width: 50%
    }

    .banner .slogan img {
        width: 50%
    }

    .banner .slogan h1 {
        font-size: 28px;
        color: #fff;
        margin-top: 0px;
        letter-spacing: 0px;
    }

    .banner .slider-wrap .slider-container {
        /* height: 550px; */
    }

    .item_wrap {
        /* width: 100%; */
        /* position: relative; */
        /* opacity: 1; */
        /* top: 0; */
        /* transition: 1s; */
    }

    .item_wrap .pic {
        display: none;
    }

    .news_wrap {
        margin-top: 100px;
    }

    .news_wrap .news_group .news {
        /* box-sizing: border-box; */
        /* width: 100%; */
        padding: 20px;
    }

    .news_wrap .news_group {
        /* border: 1px solid red; */
        /* display: inline-block; */
        flex-wrap: nowrap;
        width: 300%;
        position: relative;
        left: 0px;
        transition: 1s;
        /* overflow-x: scroll; */
    }

    .news_wrap {
        text-align: center;
    }

    .news_wrap button {
        display: inline-block;
        border: none;
        /* text-align: center; */
        margin: auto;
        font-size: 24px;
        margin: 0 20px;
    }

    .place_wrap {
        margin-top: 100px;
    }

    .place_wrap .place_container .place_group {
        flex-wrap: wrap;
    }

    .place_wrap .place_container .place_group .place {
        width: 50%;
        box-sizing: border-box;
        padding: 5px;
        /* border: 1px solid red; */
        /* padding-right: 10px; */
        /* margin-right: 10px; */
    }

    .place_wrap .place_container .place_group .place a::after {
        background-color: transparent;
    }

    .place_wrap .place_container .place_group .place a .pic img {
        width: 100%;
    }

    .place_wrap>.pic {
        display: none;
    }
}

@media screen and (max-width:768px) {

    nav {
        width: 100%;
        position: fixed;
        z-index: 5;
        background-color: #57835E;
    }

    nav ul {
        /* display: none; */
        position: absolute;
        z-index: 5;
        flex-direction: column;
        top: 100%;
        right: -100%;
        background-color: #f7f7f7;
        height: calc(100vh - 50px);
        width: 100%;
        /* height: 100%; */
        transition: 1s;
    }

    nav ul li a {
        /* border: 1px solid red; */
        color: #000;
        text-align: center;
        display: block;
        padding: 10px;
        margin: 20px 0;
        position: relative;
    }

    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;
        height: 4px;
        border-bottom: 1px solid #57835E;
    }

    .hb {
        display: block;
    }

    .hb label {
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        /* border: 1px solid red; */
    }

    .hb label span {
        width: 80%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .hb label span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: rotate .5s,
            translate .5s .5s;
    }

    .hb label span:nth-child(2) {
        opacity: 1;
        transition: opacity .5s 1s;
    }

    .hb label span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: rotate .5s,
            translate .5s .5s;
        /* transition: 1s; */
    }

    #switch:checked+header nav .hb span:nth-child(1) {
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate .5s,
            rotate .5s .5s;
    }

    #switch:checked+header nav .hb span:nth-child(2) {
        opacity: 0;
        transition: .5s;
    }

    #switch:checked+header nav .hb span:nth-child(3) {
        translate: 0px 0px;
        rotate: -45deg;
        transition: translate .5s,
            rotate .5s .5s;
    }

    #switch:checked+header ul {
        right: 0;
    }

    .banner .slider-wrap .slider-container {
        /* height: 0; */
    }

    .banner {
        margin-top: 40px;
    }

    .banner .slider-wrap img {
        /* width: 100%; */
        /* vertical-align: bottom; */
        /* position: relative; */
        /* left: -30%; */
    }

    .banner .slogan h1 {
        font-size: 16px;
    }

    .item_wrap .item_container {
        width: 90%;
    }

    .item_wrap .pic {
        display: none;
    }

    .news_wrap .news_group {
        width: 600%;
    }

    .news_wrap {
        margin-top: 100px;
    }

    .news_wrap .news_group .news {
        width: 100%;
    }

    .news_wrap .news_group .news a .txt {
        font-size: 16px;
    }

    .item_wrap .txt h2::after {
        right: -80%;
        transform: scale(.5);
    }

    .item_wrap .txt h2::before {
        left: -80%;
        transform: scale(.5);
    }

    .place_wrap {
        margin-top: 100px;
    }

    .place_wrap>.pic {
        display: none;
    }

    .place_wrap .place_container .place_group {
        display: block;
        /* border: 1px solid red; */
    }

    .place_wrap .place_container {
        /* width: 100%; */
    }

    .place_wrap .place_container .place_group .place {
        width: 100%;
        /* margin-bottom: 10px; */
        /* padding: 10px; */
        /* border: 1px solid red; */
    }

    .place_wrap .place_container .place_group .place a::after {
        background-color: transparent;
    }

    .place_wrap .place_container .place_group .place a .pic img {
        width: 100%;
    }

    footer {
        /* border: 1px solid red; */
        margin-top: 50px;
    }

    .footer_wrap ul a {
        font-size: 12px;
    }

    .footer_wrap .txt p {
        font-size: 12px;
    }
}