footer {
    width: 100%;
    margin-top: 100px;
    background-color: #57835E;
}

.footer_wrap {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.footer_wrap .logo {
    margin: 20px 0;
}

.footer_wrap .txt {
    /* border: 1px solid red; */
    text-align: center;
    margin: 20px;
    color: #f0e6e6;
}