* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #F7F7F7;
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
}

.banner img {
    width: 100%;
    vertical-align: bottom;
}

section {
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0px 0px 5px #aaa;
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
}

/* .tab_list{
    display: flex;
    justify-content: center;
} */

h2 {
    /* margin: 25px; */
    font-size: 32px;
    /* cursor: pointer; */
    margin: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
}

form label {
    margin: 10px;
}

input {
    /* outline: none; */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

button {
    /* width: 10%; */
    margin: 30px auto 0;
    /* margin-top: 30px; */
    padding: 10px;
}

.func a {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
    color: #00f;
    position: relative;
}

.func a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #aaa;
    transition: .5s;

}

.func a:hover::after {
    width: 100%;
}

span {
    font-size: 14px;
    position: relative;
}

.more_btn {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.fb:hover i,
.google:hover i,
.line:hover i {
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 10px;
}

section i {
    font-size: 24px;
    margin: 10px;
    color: #000;
    display: inline-block;
    padding: 15px;
    transition: .5s;
}

section input {
    display: inline-block;
}

section input:focus {
    outline: 1px solid #000;
}

@media screen and (max-width:1200px) {
    section {
        /* border: 1px solid red; */
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    nav {
        width: 100%;
        position: fixed;
        z-index: 5;
        background-color: #57835E;
    }

    nav ul {
        position: absolute;
        z-index: 5;
        flex-direction: column;
        top: 100%;
        right: -100%;
        background-color: #f7f7f7;
        height: calc(100vh - 50px);
        width: 100%;
        transition: 1s;
    }

    nav ul li a {
        /* border: 1px solid red; */
        color: #000;
        text-align: center;
        display: block;
        padding: 10px;
        margin: 20px 0;
        position: relative;
    }

    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;
        height: 4px;
        border-bottom: 1px solid #57835E;
    }

    .hb {
        display: block;
    }

    .hb label {
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        /* border: 1px solid red; */
    }

    .hb label span {
        width: 80%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .hb label span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: rotate .5s,
            translate .5s .5s;
    }

    .hb label span:nth-child(2) {
        opacity: 1;
        transition: opacity .5s 1s;
    }

    .hb label span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: rotate .5s,
            translate .5s .5s;
    }

    #switch:checked+header nav .hb span:nth-child(1) {
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate .5s,
            rotate .5s .5s;
    }

    #switch:checked+header nav .hb span:nth-child(2) {
        opacity: 0;
        transition: .5s;
    }

    #switch:checked+header nav .hb span:nth-child(3) {
        translate: 0px 0px;
        rotate: -45deg;
        transition: translate .5s,
            rotate .5s .5s;
    }

    #switch:checked+header ul {
        right: 0;
    }

    .banner{
        margin-top: 40px;
    }
    .footer_wrap ul a {
        font-size: 12px;
    }

    .footer_wrap .txt p {
        font-size: 12px;
    }
}